@import "tailwindcss";

/************************ SMARTHIVE COSTUM STYLES ************************/
@theme{
  --color-eucalyptus-50: #f0f9f4;
  --color-eucalyptus-100: #daf1e3;
  --color-eucalyptus-200: #b8e2cb;
  --color-eucalyptus-300: #8acbab;
  --color-eucalyptus-400: #58af87;
  --color-eucalyptus-500: #36916a;
  --color-eucalyptus-600: #267554;
  --color-eucalyptus-700: #1e5e46;
  --color-eucalyptus-800: #1a4b38;
  --color-eucalyptus-900: #163e2f;
  --color-eucalyptus-950: #0c221b;
}

.smarthive-grad-bg{
  background: linear-gradient(#36916a, #0c221b);
}
/***********************************************************************/

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}